

#home__container{
    flex-direction: column;
    overflow: none;


    .main-img{

        max-height: 80vh;

    }

    .main__caption{
        
        position: absolute;
        top: 450px;
        left: 111px;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;

        p{
            font-size: 18px;
        }
        
    }


}