
.nav__main{
    display: contents;
}

#info__banner{
    display: flex;
    justify-content: center;
    font-weight: 500;
    height: 34px;
    align-items: center;
    width: 35vw;
    border-radius: 1px;
    margin: 0;
    background-color: rgb(199, 197, 197);
    color: black;
}
    
    .navbar {
        flex-direction: column;
        position: sticky;
        top: 1px;
        z-index: 2;
    }
    
    
#navbar__content{
    width: 100%;
    background-color: rgb(26, 26, 26);
}
    
    
 #up__nav{
        
    height: 33px;
    width: 100%;
    flex-direction: column;
    color: white;
    background-color: $bg-color;
    
    .col-2{
        
        width: 50%;
        height: inherit;
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        justify-content: start;
            
        .far {
            
            border-left: 1px solid white;
            padding-left: 20px;
            padding-right: 5px;
            height: 20px;
            
        }
        
        
    }
    
}




#down__nav{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    align-items: center;
    font-size: 18px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    
    
    .col-5{
        
        
        align-self: end;
        width: auto;
        margin-bottom: 15px;
        
        img{
            width: 36vh;
        }
        
    }
    
}

#list__items{
    
    
    display: flex;
    list-style: none;
    
}


.nav__item{ 
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
        
    &:hover{
        color: white;
        border-bottom: 2px solid white;
        
    }
    
}

.dropdown:hover{
    
    .nav__item-dropdown{
        display: flex !important;
    }
}

.nav__item-dropdown{
    
    position: absolute;
    flex-direction: column;
    border: none;
    display: none;
    right: -13px;
    
}



.nav__dropdown-item{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    color: grey;
    text-decoration: none;
    
    
    transition: color (ease-in .2s);
    
    &:hover{
        
        color: darken($color: #000000, $amount: 20);
        
    }
    
}

#indumentaria__dropdown{
    
    right: 2px;
    
}




.col-2{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 100%;
    margin-left: auto;
    color: white;
    border-left: 1px solid white;
    // border-top: 1px solid;

    
    form{

        width: 370px;
        position: absolute;
        top: 185px;
        right: 0px;
        z-index: 2;



        button{
            margin-top: 2px;
            margin-left: 170px;
        }
    }
}
        

.form-control:focus{
    box-shadow: none;
}
