
.btn__navbar{
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;

    transition: color (ease-in .2s);


    &:hover{
        color: darkgray;
    }
}

